/*
** Joseph - Common Styles
*/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	/*font-family: Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;*/
    /* text-align: center;*/
    font-size: 100%; /* Base Font Size */
    /*padding: 50px;*/
    color: #ffffff;
    background: grey;
    overflow-x: hidden;
}
#shutter {
	position: absolute;
	width: 100%;
	top:0;
	bottom: 0;
	z-index: 20;
}
#topShutter {
	position: absolute;
	top: 0;
	height: 50%;
	left: 0;
	right: 0;
	background-color: #F0837C;
	transition: height 0.6s ease;
}
#bottomShutter {
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #117770;
	transition: top 0.6s ease;
}

#progressBar {
    width: 0;
    height: 3px;
    background-color: white;
    -moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
    position: absolute;
    top: 50%;
    left: 0;

    /* Glow effect */
    -moz-box-shadow: #bfbfbf 1px 0 6px 1px;
	-ms-box-shadow: #bfbfbf 1px 0 6px 1px;
	-webkit-box-shadow: #bfbfbf 1px 0 6px 1px;
	box-shadow: #bfbfbf 1px 0 6px 1px;
}
/*#content {
	display: none;
}*/
/*h1 {
	font-size: 10em; 
	font-size: 6.2vw;
	color: #fff;
}*/
a {
	text-decoration: none;
	color: #F6921E;
	font-size: 1em;
}
a:hover {
	color: #CF6000;
}
h3 {
	font-size: 1.8em;
}
p {
	font-size: 1.8em;
	/*text-align: left;*/
	font-weight: 300;
}
ul {
	margin:0;
	padding: 0;
	margin-left: 20px;
}
ul li {
	font-size: 1.6em;
	font-weight: 300;
}

.title {
	margin-top: -20px;
}
.container {
	/*margin-top: 100px;*/
}
/*img {
	max-width: 100%;
}*/
.header {
	/*height: 500px;*/
	background-image: url('../assets/4fe294e0.png');
}
.back-image {
	background-image: url('../assets/jk.png');
	background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.header .banner {
	padding: 30px;
}
.header p.main-title-hello {
	margin: 0;
	margin-left: 30px;
	font-size: 5em;
	line-height: 1.2em;
}
.header p {
	font-size: 1.8em;
	line-height: 1.6em;
}
.header .main-title {
	font-size: 10em;
	/*margin-top: 50px;*/
	margin: 0;
	margin-bottom: 30px;
}
.header .header-image-holder {
	text-align: right;
}
.header #header-image {
	margin-top: 20px;
	max-width: 100%;
	width: 1000px;
}
.chunks {
	padding: 100px 0;
}
#work {
	background: #43496B;
}
#connect {
	background: #117770;
}
#connect #connect-image {
	/*width: 700px;*/
}
#family {
	background: #D5C682;
}
#awards {
	background: #F0837C;
}
#footer {
	padding: 20px 0;
	background: #11303E;
	font-size: 0.6em;
}
.container-fluid {
	background: #D5C682 !important;
}
#profile-image {
	border-radius: 50%;
	border: 4px solid #ffffff;
	width: 50px;
}
/*.font-icon {
	font-size: 3em;
	color: #ffffff;
}*/
/*.font-icon:hover {
	font-size: 42px;
	color: #A8D0CE;
	text-decoration: none;
}*/
.sub-title {
	font-size: 40px;
	margin-bottom: 15px;
	margin-top: 5px;
}
.sub-title.family {
	color: #8B6239;
}
.sub-title.work {
	color: #C3AE95;
}
.sub-title.connect {
	color: #FFCD61;
}
.sub-title.awards {
	color: #63401E;
}
div.social-media-icons {
	margin-top: 20px;
}
div.social-media-icons .font-icon {
	text-decoration: none;
	margin-right: 10px;
	font-size: 1.3em;
	color: #ffffff;
	/*-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
    transition: transform 0.3s ease;*/
}
div.social-media-icons .font-icon:hover {
	/*font-size: 42px;*/
	/*margin-top: -10px;*/
	/*transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);*/
	color: #A8D0CE;
}
#work .books-title {
	margin-bottom: 0;
}
.hide {
	display: none;
}
.show {
	display: block
}
#shutter #joseph {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: 400;
}

.progress-box {
	width: 100%;
	height: 8px;
	position: fixed;
    top: 0;
    z-index: 1;
}
  
/* The progress bar (scroll indicator) */
.progress-box-bar {
	height: 8px;
	background: #4caf50;
	width: 0%;
}

/*
Joseph - Media Queries for Bootstrap Grid System
** Added custom classes below.
*/
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 767px) {
	.sub-title {
		font-size: 30px;
	}
	.chunks {
		padding: 50px 0;
	}
	h1.main-title, h1.sub-title {
		/*text-align: center;*/
	}
	h1.main-title {
		font-size: 6em !important;
		text-align: center;
	}
	p.main-title-hello {
		text-align: center;
		font-size: 3em !important;
	}
	.header .banner {
		padding-left: 15px;
	}
	p {
		font-size: 1.3em;
	}
	ul li {
		font-size: 1.3em;
	}
	div.social-media-icons {
		text-align: center;
		margin-top: 20px;
	}
	div.social-media-icons a.font-icon {
		font-size: 1.1em;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 991px){
	h1.main-title {
		font-size: 6em !important;
		text-align: center;
	}
	p.main-title-hello {
		text-align: center;
		font-size: 3em !important;
	}
	.sub-title {
		font-size: 30px;
	}
	.chunks {
		padding: 70px 0;
	}
	.header {
		padding-bottom: 15px;
	}
	p {
		font-size: 1.4em;
	}
	ul li {
		font-size: 1.4em;
	}
	div.social-media-icons a.font-icon {
		font-size: 1.2em;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.header .banner {
		height: 100vh;
		min-height: 775px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.header .banner .row {
		padding: 0 100px;
	}
	.back-image {
		width: 100%;
		height: 100vh;
		min-height: 775px;
		position: absolute;
	}
	.back-image-overlay {
		width: 100%;
		height: 100vh;
		min-height: 775px;
		position: absolute;
		background: rgba(0,0,0,0.7);
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* Animations */
/* http://minimalmonkey.com/fun-animations-with-css3/ */
.social-media-icons a span{
    display: block;
    height: 100%;
    position: relative;
    top: 0%;
    transition: top 0.35s;
    width: 100%;
}

.social-media-icons a:hover span{
    top: -100%;
    opacity: 0.7;
}
