<html>
<link rel="stylesheet" type="text/css" href="checkbox.css">
<script src="jquery.js"></script>
<script src="rem.min.js"></script>

<script src="checkbox.js"></script>
<body>

	
  <form>
   
	
	
	
	
	<input type="checkbox" name="vehicle" class="customCheckBox" value="Bike">I have a bike
	<input type="checkbox" name="vehicle" class="customCheckBox" value="Car" checked>I have a car 
	
	<br/>
	<input type="checkbox" name="oops" class="customCheckBox" value="Bike">I have a bike
	<input type="checkbox" name="oops" class="customCheckBox" value="Car" checked>I have a car 
    
  </form>
  
  <script>
  new yo.CheckBox({"elem":".customCheckBox","checkBoxClass":"test"});
  </script>
</body>
<html>