html {
	font-family: ProximaNovaRegular,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    line-height: 1.15;
}
html, body {
	margin: 0;
	padding: 0;
	color: #4e4945;
}
.header {
	min-height: 60px;
}
.header-affix {
	position: fixed;
	width: 100%;
	z-index: 2;
	font-size: 11px;
	box-shadow: 0 4px 2px rgba(0,0,0,0.05);
	padding: 15px;
	height: 60px;
}
.logo {
	cursor: pointer;
}

.main {
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 47px;
}
.main-sub {
	position: relative;
	height: 500px;
	overflow: hidden;
}
.main-overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1;
}
.main-overlay-content {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}
.main-overlay h1 {
    font-size: 46px;
    font-weight: 700;
    color: #ffffff;
}
.main-overlay p {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.3em;
	color: #ffffff;
}
.main-video {
	width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    top: 0;
    left: 0;
}

.second-layer, .third-layer {
	text-align: center;
}
.second-layer-header {
	margin: 50px 0;
}

.fin-wellness-icon {
	height: 110px;
	width: 110px;
	margin-bottom: 20px;
}
.medium-text-center {
	font-size: 17px;
	font-weight: 500;
}
.lorem {
	color: #9a9a9a;
	font-size: 14px;
	line-height: 1.3;
}

.third-layer {
	background: #E8E4DB;
	margin: 20px 0 45px 0;
	padding: 20px 0px 80px 0px;
}

.finapp-ad {
	width: 700px;
	max-width: 100%;
     height: auto;
}

.footer {
	height: 45px;
    background-color: #ffffff;
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #ddd;
}
.footer-inner {
	padding: 15px 0;
}
.footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: table-row;
}
.footer ul li {
	padding-right: 1rem;
	border-right: 1px solid #77716f;
	padding-left: 1rem;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #6095b4;
	display: table-cell;
	cursor: pointer;
	text-transform: uppercase;
}
.footer ul li:last-child {
    border-right: none;
}
.security-logo-box {
	display: inline-block;
}
.security-logo {
	height: 18px;
	margin-top: -8px;
	margin-right: 10px;
}
.btn-header {
	border-radius: 18px;
	width: 80px;
	user-select: none;
    outline: none;
    -webkit-appearance: none;
}
.btn-demo {
	margin-top: 30px;
	border-radius: 18px;
	width: 150px;
}
.margin-10 {
	margin-left: 10px;
}

/* Extra Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.btn-header {
		border-radius: 15px;
		/*width: 80px;*/
	    font-size: 12px;
	}
	.main {
		margin-bottom: 0px;
	}
	.main-overlay h1 {
	    font-size: 30px;
	    font-weight: 700;
	    color: #ffffff;
	}
	.main-overlay p {
		font-size: 15px;
		font-weight: 300;
		line-height: 1.3em;
		color: #ffffff;
	}
	.second-layer-header {
		margin: 25px 0;
	}
	.second-layer-header h2 {
		font-size: 20px;
	}
	.second-layer-header p {
		font-size: 15px;
	}

	.fin-wellness-icon {
		width: 80px;
		margin-bottom: -5px;
	}

	.medium-text-center {
		font-size: 15px;
		font-weight: 500;
	}
	.margin-bottom-xs {
		margin-bottom: 30px;
	}

	.third-layer {
		margin-bottom: 0px;
	}
	.finapp-ad {
		width: 500px;
	}
	.footer {
		position: static;
	}
	.footer-inner {
		display: flex;
    	justify-content: center;
    	padding: 8px 0px;
	}
}

@media (max-width: 450px) {
	.second-layer-header h2 {
		font-size: 20px;
	}
	.second-layer-header p {
		font-size: 13px;
	}

	.fin-wellness-icon {
		width: 70px;
		margin-bottom: -5px;
	}

	.medium-text-center {
		font-size: 15px;
		font-weight: 500;
	}
	.margin-bottom-xs {
		margin-bottom: 30px;
	}

	.third-layer {
		margin-bottom: 0px;
	}
	.finapp-ad {
		width: 350px;
	}

	.footer ul li {
		font-size: 10px;
		padding-right: 0.5em;
		padding-left: 0.5em;
	}
}